# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
venv/
env/

# IDE
.vscode/
.idea/

# Logs and outputs
logs/
*.log
artifacts/
notebooks/.ipynb_checkpoints/
prediction/models/

# OS-specific
.DS_Store
Thumbs.db

# Environment files
.env

# Jupyter
.ipynb_checkpoints/
